body {
    margin: 0;
    padding: 0;
}
  
main {
    padding-top: 80px; 
}

/* footer.css */
footer {
    background-color: #000000;   
    color: white;                
    text-align: center;         
    padding: 15px 0;             
    width: 100%;               
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3);          
}
  