.section {
    background-color: #404040;
    color: white;
    padding: 40px;
    margin: auto; 
    border-radius: 15px; 
    max-width: 1200px; 
    box-sizing: border-box;
  }

h2 {
    color: white;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #675cff;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s;
    margin-bottom: 20px;
  }

  .section p {
    margin-top: 20px;
  }

  .auto-evaluation {
    background-color: #404040;
    color: white;
    padding: 40px;
    margin: auto;
    border-radius: 15px;
    max-width: 1200px;
    box-sizing: border-box;
  }

  .auto-evaluation ul {
    list-style-type: none; 
    padding: 0;
  }

  .auto-evaluation li {
  background: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

  .auto-evaluation li a.nom_ue {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: white;
  margin-right: auto;
}

.auto-evaluation li span.grade {
  background: #675cff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
}

  .auto-evaluation a {
    color: white; 
    text-decoration: underline; 
    text-decoration-color: white; 
  }
  
  .auto-evaluation a:hover {
    color: #ccc;
  }
  
  .auto-evaluation span.grade {
    color: white;
    text-decoration: none;
  }

  .section a {
    color: white; 
    text-decoration: underline; 
    text-decoration-color: white; 
  }
  
  .section a:hover {
    color: #ccc;
  }

  .section .sae-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.section .sae-images img {
    width: 100%;
    max-width: 220px;
    height: auto;
    border-radius: 5px;
}
